.detail-container {
  position: absolute;
  top: 72px;
  height: calc(100vh - 72px);
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.detail-container::-webkit-scrollbar {
  width: 5px;
}
  
.detail-container::-webkit-scrollbar-thumb {
  height: 30%;
  background: rgb(186, 186, 193);
  border-radius: 10px;
}
  
.detail-container::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);
}

div.detail-contents {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: white;
}

div.detail-contents h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 50px;
  margin: 0 0 30px 0;
}

div.detail-contents p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgb(186, 186, 193);
  margin: 8px 0;
}

div.detail-contents p.movie__vote-average {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

div.detail-contents p.movie__overview {
  line-height: 23px;
  color: rgb(132, 134, 141);
}

div.detail-contents ul {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(186, 186, 193);
  list-style: none;
  padding: 0;
  margin: 8px 0;
}

div.detail-contents ul li::after {
  content: "·";
  margin: 0 8px;
}

div.detail-contents ul li:last-child::after {
  content: "";
}